.grid {
    display: flex;
    margin: 0;
    flex-shrink: 1;
    box-sizing: border-box;
}

.left-settings {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

header{
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    flex-direction: column;
}

.center-page {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.sketch-cont {
    display: flex;
    border: 2px white;
    border-style: solid;
    width: 600px;
    height: 600px;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 2px lightgray;
    border-radius: 3px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1014;
}

.slider-value {
    color: white;
}

input[type="color"] {
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0;
}

h1, p {
    margin: 0%;
    padding-bottom: 16px;
}

.eraser, .clear {
    border: 2px white;
    border-style: solid;
    background-color: #1E1014;
    color: white;
    width: 200px;
    height: 25px;
}